  /* Special */
$background: #1F1919;
$foreground: #EFF8FF;
$cursor: #B1B0AA;

  /* Colors */
$color0: #4C4444;
$color1: #4C5D70;
$color2: #7C766C;
$color3: #977587;
$color4: #7B899E;
$color5: #99857A;
$color6: #9CB0BF;
$color7: #DFECF6;
$color8: #9CA5AD;
$color9: #526882;
$color10: #8D8475;
$color11: #AA7592;
$color12: #7088AC;
$color13: #CCB1A2;
$color14: #D0EAFF;
$color15: #DFECF6;
